<header class="px-4 lg:px-8 py-4">
    <nav class="flex items-center justify-between">

        <a class="mr-12 py-4 flex-none inline-block" href="/">
            <img src="img/logo.svg" class="w-20 h-auto max-w-full" width="220" height="150" alt="YATAS Logo"/>
        </a>

        <div data-nav class="js-menu hidden fixed bg-[#ffffff] lg:bg-white top-0 h-full right-0 w-64 px-4 pl-8 py-16 z-10 lg:px-0 lg:py-0 lg:relative lg:w-full lg:flex lg:items-center lg:justify-between">

            {% include "navigation.njk" %}

            <div class="text-center grid grid-flow-row gap-2 mt-8 lg:mt-0 lg:flex">
                <button class="py-3 px-8 border border-transparent text-medium-gray rounded-xl hover:text-dark-gray  duration-300">Login</button>
                <button class="py-3 px-8 border border-medium-gray text-medium-gray rounded-xl hover:text-dark-gray hover:border-dark-gray duration-300">Register</button>
            </div>

        </div>

        {# Show if mobile nav is open #}
        <span data-overlay class="fixed hidden inset-0 bg-black/30 backdrop-blur-sm z-0 lg:hidden"></span>

        {% include "menu-toggle.njk" %}

    </nav>
</header>